@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html, div, .container{
    padding: 0;
    margin: 0;
}

  /* Style for the scrollbar track */
  ::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  /* Style for the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #DB0D8E; /* blue color */
    border-radius: 4px; /* round corners */
  }
  
  /* Style for the scrollbar track when hovered */
  ::-webkit-scrollbar-thumb:hover {
    /* background: #0056b3; dark blue color */
  }
  
  /* Style for the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #ffffff1f; /* light gray color */
    border-radius: 4px; /* round corners */
  }

  /* body,
  html {
    overflow: hidden !important;
  } */